body {
background-color: black;
color: #fff;
padding: 0 2px;
font-family: 'Roboto', sans-serif;
line-height: 300px; 
height: 00px;
width: ;
text-align: center;
justify-content: center;
align-items: center;
line-height: 20px;

}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow:hidden;
    z-index: -1;
    content: url(/website/instagram.png) url(website/linkedin.png);
}

h1 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    cursor: pointer;
}

.header-main {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width:fit-content;
    height: 50px;
    padding-left: 60px;
    display:flex;
}


.header-main-logo img {
    height: 60px;
    align-self: left;
}

.header-main-nav {
    width: fit-content;
    height: 100px;
}

.header-main-nav ul {
list-style: none;
margin-left: 30px;
}

.header-main-nav ul li {
display: inline;
float: left;
}

.header-main-nav ul a {
padding: 0 10px;
font-family: 'Roboto', sans-serif;
line-height: 60px;
color: rgb(0, 0, 0);
display: block;
height: 100%;
}

.header-main-nav ul a:hover {
    color:blue;
    }

.header-main.sm {
width: fit-content;
height: 100px;
padding-right: 60px;
display: flex;
align-items: left;
column-gap: 10px;
}

.header-main-sm-ig {
    width: 20px;
    height: 30px;
    background-image: url(/website/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;   
    align-self:center; 
}

.header-main-sm-li {
    width: 20px;
    height: 30px;
    background-image: url(website/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
}

.DevOps {
    font-weight: bolder;
    color: rgb(246, 78, 78);
}

.Certs {
    font-weight: bolder;
    color: rgb(246, 78, 78);
}